[submodule "go/帧同步/go/src/golang.org/x/net"]
	path = go/帧同步/go/src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "go/帧同步/go/src/github.com/xtaci/kcp-go"]
	path = go/帧同步/go/src/github.com/xtaci/kcp-go
	url = https://github.com/xtaci/kcp-go
[submodule "go/帧同步/go/src/github.com/pkg/errors"]
	path = go/帧同步/go/src/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "go/帧同步/go/src/golang.org/x/crypto"]
	path = go/帧同步/go/src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "go/帧同步/go/src/github.com/klauspost/crc32"]
	path = go/帧同步/go/src/github.com/klauspost/crc32
	url = https://github.com/klauspost/crc32
[submodule "go/帧同步/go/src/github.com/klauspost/cpuid"]
	path = go/帧同步/go/src/github.com/klauspost/cpuid
	url = https://github.com/klauspost/cpuid
[submodule "go/帧同步/go/src/github.com/klauspost/compress"]
	path = go/帧同步/go/src/github.com/klauspost/compress
	url = https://github.com/klauspost/compress
[submodule "go/帧同步/go/src/github.com/urfave/cli"]
	path = go/帧同步/go/src/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "go/帧同步/go/src/github.com/klauspost/reedsolomon"]
	path = go/帧同步/go/src/github.com/klauspost/reedsolomon
	url = https://github.com/klauspost/reedsolomon
[submodule "go/帧同步/go/src/github.com/xtaci/smux"]
	path = go/帧同步/go/src/github.com/xtaci/smux
	url = https://github.com/xtaci/smux
