<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <!-- https://github.com/NLog/NLog/wiki/File-target -->
        <target name="logfile" xsi:type="File" fileName="my.learn.log" />
        <!-- <target name="logconsole" xsi:type="Console" /> -->
        <!-- https://github.com/NLog/NLog/wiki/Layouts -->
        <target name="colored_console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" stderr="true"
                layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}}: ${message:withexception=true}"
                >
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="colored_console" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>